.textarea-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 0;
  transition: all 1s ease-in-out;
}
.textarea-group__textarea {
  width: 450px;
}
.textarea-group__btn {
  margin-left: 25px;
}